



body{
	background:-webkit-linear-gradient(top,#000,#555,#000); 
	background:-moz-linear-gradient(top,#000,#555,#000); 
	background:-ms-linear-gradient(top,#000,#555,#000); 
	background:-o-linear-gradient(top,#000,#555,#000); 
	background:linear-gradient(top,#000,#555,#000);
}
/*导航*/
.boder{min-width:100%;height:70px;}
.boder h1{line-height:60px;font-family:"黑体";color:#FFF;margin-left:10px;text-shadow:10px 10px 2px #000;margin-top:10px;}
.boder_nav{ position:relative;margin-top:10px;margin-right:60px;font-family:"黑体";text-shadow:5px 5px 2px #000;}
.boder_nav li{width:150px;height:50px;text-align:center;line-height:50px;
	position:relative; z-index:5;cursor:pointer;border-right: 1px solid green;

 }
.boder_nav li a{color:#CCC;font-size:16px;}
.boder_nav li.box{ position:absolute;left:0;top:0; background:red;border-radius:10px;opacity:0.5;filter:alpha(opacity:50); z-index:1;box-shadow:0px 10px 2px red;}
 

 .nav_right{
 	width:700px;height:60px;border: 1px solid green;margin-top: 8px;
 	transform: perspective(800px) rotateX(30deg);position: relative;
	
 }
 .nav_right_son1{
 	width:700px;height:49px;
 	position: absolute;left: 0;top: 0px;
 	transform:perspective(800px) rotateX(110deg) ;
	transform-style:preserve-3d;
	transform-origin:bottom;
	z-index: 100;
	border: 2px solid green;margin-top: 8px;
	
 }


/*banner*/
.banner{
	height:440px;
	overflow:hidden;
	border:1px solid green;
	border-radius: 4px;
	margin-top: 50px;

}
.banner>div{
	width: 980px;
	height: 420px;
	border-radius: 4px;
	background: rgba(50,50,50,0.9);
	margin-top: 10px;
	margin-left: 10px;
	position: relative;
}
#blast_box{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	background:url(../images/1.jpg) no-repeat;
	background-size: 100%;
}
#blast_box > span{
	position: absolute;
	width: 196px;
	height: 105px;
	left: 0;
	top: 0;
	z-index: 3;
	background:url(../images/0.jpg) no-repeat;
}
#banner_prev{
	position: absolute;
	width: 36px;
	height: 44px;
	left: 0;
	top: 40%;
	background: url(../images/left.png) ;
	z-index: 5;
}
#banner_next{
	position: absolute;
	width: 36px;
	height: 44px;
	right: 0;
	top: 40%;
	background: url(../images/right.png);
	z-index: 5;
}
.banner ul{
	position: absolute;
	width: 180px;
	height:30px;
	
	left: 40%;
	bottom:20px;
	z-index: 5;
}
.banner ul li{
	width: 20px;
	height: 20px;
	background: rgba(255,255,255,0.6);
	border-radius: 50%;
	margin-left: 30px;
	border:1px solid green;
}
/**/
.content_skill_bd{
	height:440px;
	margin-top:30px;
	filter:alpha(opacity:80);
	-moz-opacity:0.9;opacity:0.9;
	margin-top:30px;
	border:1px solid green;
	border-radius: 4px;

}
.content_skill_bd >div{
	width: 980px;
	height: 420px;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 10px;

}
#item2 li{
	width: 310px;
	height: 130px;
	border-radius: 4px;
	border:1px solid green;
	margin-left: 11px;
	margin-bottom: 10px;
	text-align: center;
	overflow: hidden;
	position: relative;

}
#item2 li img{
	margin-top: 10px;
}
#item2 li span{
	position: absolute;
	width: 100%;
	height: 100%;
	left: -331px;
	top:-131px;
	background: rgba(255,0,0,0.4);
}
/**/
.end{
	height:520px;
	margin-top:30px;
	border:1px solid green;
	border-radius: 4px;

}
.end >div{
	width: 980px;
	height:500px;
	margin-top:10px;
	margin-left: 10px;
	overflow:hidden;
	border-radius: 4px;
	background: rgba(50,50,50,0.9);

}
.end ul{ position:relative;width:132px; height:200px; margin:90px auto;
	transform-style:preserve-3d;
	transform:perspective(800px) rotateX(-10deg) rotateY(0deg);
}
.end ul li{ position:absolute;left:0;top:0;width:100%; height:100%; transition:1s all ease;
box-shadow:0 0 10px  #fff;border-radius:12px; }
.end ul li img{border-radius:10px;}
.end ul li span{
	position:absolute;left:0;top:210px;
		transform: scale(1,-1);
-webkit-mask:-webkit-linear-gradient(rgba(0,0,0,0) 40%,rgba(0,0,0,1)); opacity:0.4;

}
/*clock*/
.clock{
	height: 100px;
	margin-top:30px;
}
.clock li {
	margin-right: 44px;
}
.clock_box{ 
	position:relative;
	width:70px; 
	height:70px; ; 
	transition:3s all ease;
	transform-style:preserve-3d;
	transform:perspective(800px) rotateX(-30deg) rotateY(20deg);
	line-height: 70px;text-align: center;font-size: 22px;color:#fff;
	text-shadow: 3px 3px 3px black;
	background:rgba(255,0,0,0.5);
}

.clock_box div{ 
	position:absolute;
	left:0;top:0;
	width:68px; 
	height:68px; 
	border:1px solid green;
}

.clock_box .front{ transform:translateZ(35px);}
.clock_box .back{ transform:translateZ(-35px);}
.clock_box .left{ transform: rotateY(-90deg) translateZ(35px);}
.clock_box .right{ transform: rotateY(90deg) translateZ(35px);}
.clock_box .top{ transform: rotateX(90deg) translateZ(35px);}
.clock_box .bottom{ transform: rotateX(-90deg) translateZ(35px);}

.clock_box:active{transform:perspective(800px) rotateX(-30deg) rotateY(360deg);}


/*尾部*/
.footer{
	height:40px;
	margin-top:40px;
	 text-align: center;
	 color:#fff;
}


