@charset "utf-8";
/* CSS Document */

header{ display:flex; background:#262626; border-bottom:2px solid #4bccae; }
header .menu,header .pc{ width:37px; }
.title{ flex:1; height:45px; color:#fff; text-align:center; line-height:45px; font-size:32px; }
header .menu{ background:url(../images/menu.png) no-repeat right; background-size:30px 24px; }
header .pc{ background:url(../images/pc.png) no-repeat left; background-size:29px 23px; }

.user{ height:42px; display:flex; line-height:42px; }
.login,.regsiter{ flex:1; text-align:center; }
.user a{ color:#909090; font-size:15px; }
.login i{ background:url(../images/login.png) no-repeat; width:30px; height:30px; background-size:30px 30px; display:inline-block; margin-top:8px; vertical-align:top; }
.login span{ vertical-align:top; }

.regsiter i{ background:url(../images/regsiter.png) no-repeat; width:30px; height:30px; background-size:30px 30px; display:inline-block; margin-top:8px; vertical-align:top; }
.regsiter span{ vertical-align:top; }

.w1{ width:1px; height:24px; background:#c4c4c4; margin-top:10px; }

.banner{ height:156px; position:relative; }
.txt{ width:100%; height:37px; background:rgba(0,0,0,0.5); color:#fff; font-size:15px; text-align:center; line-height:36px; position:absolute; left:0; bottom:0; }

.list{ padding:0 8px; }
.list li{ height:40px; border-bottom:2px solid #efefef; font-size:16px; line-height:40px; }
.list a{ color:#3d3d3d; font-family:"黑体"; }

.hot{ border-top:2px solid #58c1b0; margin-top:-2px; }
.hot>.tit{ display:flex; background:#fafafa; border-bottom:2px solid #e8e8e8; }
.hot .tit h3{ flex:1; font-size:15px; font-family:"Microsoft YaHei"; line-height:40px; padding-left:15px; }
.hot a{ width:44px; height:40px; background:url(../images/hot_more.png) no-repeat left; background-size:30px 30px; }
.btn{ border-bottom:2px solid #ececec; }
.btn span{ padding:13px 15px; float:left; font-family:"黑体"; font-size:15px; margin-right:3px; }
.btn span.on{ border-bottom:4px solid red; margin-bottom:-2px; }

.news_img{ padding:15px; }
.news_img>div{ display:flex; margin-top:13px; }
.news_img>div img{ width:103px; height:75px; }

.news_img>div p{ flex:1; padding-left:13px; line-height:25px; font-size:12px; color:#999; }
.news_img li{ height:40px; border-bottom:2px solid #efefef; font-size:16px; line-height:40px; }
.news_img a{ color:#3d3d3d; font-family:"黑体"; }

.hot>ul>li{ display:none; }
.hot>ul>li.show{ display:block; }

.top{ height:60px; color:#3d3d3d; font-size:15px; font-family:"黑体"; text-align:center; display:block; line-height:30px; }
.top i{ width:29px; height:29px; background:url(../images/top.png) no-repeat; vertical-align:top; display:inline-block; background-size:29px 29px; }
.top span{ vertical-align:top; }

footer{ height:75px; background:#262626; display:flex; }

footer .pc,footer .phone{ flex:1; text-align:center; line-height:75px; }
footer a{ color:#b3b3b3; font-size:15px; }
footer .pc i{ background:url(../images/pc.png) no-repeat; display:inline-block; width:29px; height:24px; vertical-align:top; background-size:29px 24px; margin-top:28px; }

footer .phone i{ background:url(../images/phone.png) no-repeat; display:inline-block; width:13px; height:23px; vertical-align:top; background-size:13px 23px; margin-top:28px; }

footer .w1{ margin-top:18px; height:38px; background:#666; }











